/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.pipelineSvg {
  height: 250px;
  width: 100%;
}


.closer {
  border-top: 3px solid;
  padding: 1rem 0;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: left;
  justify-content: left;
}

.code {
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 1rem;
}

.codeContent {
    padding: 1rem;
    border-radius: var(--ifm-global-radius);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: var(--ifm-color-secondary-lightest);
}

html[data-theme='dark'] .codeContent {
    background: var(--ifm-color-secondary-darker);
}

.codeContent p {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0;
    font-weight: bold;
}



.content {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}