/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2FA4DA;
  --ifm-color-primary-dark: #1F80AD;
  --ifm-color-primary-darker: #155A79;
  --ifm-color-primary-darkest: #0C3345;
  --ifm-color-primary-light: #63BBE3;
  --ifm-color-primary-lighter: #97D2ED;
  --ifm-color-primary-lightest: #CBE8F6;

  --ifm-color-secondary: #D77732;
  --ifm-color-secondary-dark: #A55B27;
  --ifm-color-secondary-darker: #74401B;
  --ifm-color-secondary-darkest: #422510;
  --ifm-color-secondary-light: #DC9A6A;
  --ifm-color-secondary-lighter: #E8BB9C;
  --ifm-color-secondary-lightest: #F3DDCD;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

html[data-theme='dark'] .tooltip {
  background-color: var(--rt-color-white);
  color: var(--rt-color-dark);
}

.button {
    margin-left: 1rem;
    margin-right: 1rem;
}

img[alt$=">"] {
  float: right;
  margin: 1rem;
}

img[alt$="<"] {
  float: left;
  margin: 1rem;
}

img[alt$="|"] {
  border-style: solid;
  border-width: 2px;
  border-color: var(--ifm-text-color);
}

img[alt$=">|"] {
  float: right;
  margin: 1rem;
  border-style: solid;
  border-width: 2px;
  border-color: var(--ifm-text-color);
}

img[alt$="<|"] {
  float: left;
  margin: 1rem;
  border-style: solid;
  border-width: 2px;
  border-color: var(--ifm-text-color);
}

@media screen and (max-width: 996px) {
  .hide-small-screens {
    display: none;
  }
}

.tabs--hero .tabs__item {
    border-bottom-width: 0px;
}

.tabs--hero .tabs__item--active {
    color: var(--ifm-color-secondary);
    border-bottom-color: var(--ifm-color-secondary);
    background: var(--ifm-color-secondary-lightest);
}

html[data-theme='dark'] .tabs--hero .tabs__item--active {
    background: var(--ifm-color-secondary-darker);
}